<header>
    <h1>
        <a href="/"> Dog Profile</a>
    </h1>
    <nav>
        <ul>
            <li>
                <a href="#profile">Profile</a>
            </li>
            <li>
                <a href="#progress">Progress</a>
            </li>
            <li>
                <a href="#reference">Reference</a>
            </li>
        </ul>
    </nav>
</header>

<section class="jumbotron">

    <div id="jumbo-cta">
        <h2>No two dogs are exactly the same.</h2>
        <p>We want to get to know <span>your dog</span> to make a training program that's right for
            <span>them</span>. We'll
            help you keep track of their progress towards your goals. </p>
    </div>

</section>

<section id="profile" class="mainSection">
    <h2 class="section-title">Your Dogs Profile</h2>
    <form action="newDog" method="GET">
        <div id="profileColumns">
            <li>
                <p>Client Name: {{clientName}}</p>
                <p>Dogs Name: {{dogName}}</p>
                <p>Dogs Age: {{dogAge}}</p>
                <p>Dogs Breed: {{dogBreed}}</p>
                <p>Dogs Sex: {{dogSex}}</p>
                <p>Dog Spayed/Neutered: {{dogSnipped}}</p>
            </li>
        </div>
    </form>
</section>